/* ================================
        Header css
================================ */
header{
  background-color: $white;
  padding: 12px 0 21px;
  display: flex;
  justify-content: flex-start;

  h1{
    font-size: rem-calc(32);
  }

  span{
    color: $lightblue;
  }

  i{
    margin-left: 170px;
    color: $lightblue;
  }
}
